@charset "UTF-8";
	.headspace{
		margin-top: 80px;
	}
	.home_main_content{
		 width: 900px;
	}
	.ilan{
		
	}
	.description{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 25px;
		padding-right: 10px;
	}
	.label-zero {
    background-color: #c5bdc1;
	}
	
	.box {
	    border-radius: 3px;
	    box-shadow: 0px 0px 28px 0px rgba(107, 107, 107, 0.65);
	    background-color: rgba(84, 84, 84, 0.09);
	    padding-bottom: 15px;
	    margin-bottom: 30px;
	    margin-top: 30px;
	}
	.description{
		height: 200px;
	}
	.description .date span{
		position: absolute;
		bottom:0;
    	right:0;
	}
	.text-overflow{
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	
	
	
	
	
	